.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

.menu > li.active {
  color: #c92071;
  border-bottom: 2px solid #c92071;
}

.menu > li.active,
.menu > li.item {
  font-size: 16px;
}
